<mat-card>
<div>
    <h1>Detalhes Funcionario</h1>
</div>

    <div *ngIf="funcionario">
        <form>

            
                <div class="input-box">
                    <mat-form-field>
                    <mat-label>Nome:</mat-label>
                    <input matInput type="text" value="{{funcionario.nome}}" disabled>
                    </mat-form-field>
                </div>
            

            
                <div class="input-box">
                    <mat-form-field>
                    <mat-label>Sobrenome:</mat-label>
                    <input matInput type="text" value="{{funcionario.sobrenome}}" disabled>
                    </mat-form-field>
                </div>
        
            

            
                <div class="input-box">
                    <mat-form-field>
                    <mat-label>Departamento:</mat-label>
                    <input matInput type="text" value="{{funcionario.departamentoEnum}}" disabled>
                    </mat-form-field>
                </div>
            

            
                <div class="input-box">
                    <mat-form-field>
                    <mat-label>Turno:</mat-label>
                    <input matInput type="text" value="{{funcionario.turnoEnum}}" disabled>
                    </mat-form-field>
                </div>
            

            
                <div class="input-box">
                    <mat-form-field>
                    <mat-label>Situação:</mat-label>
                    <input matInput type="text" value="{{funcionario.ativo == true ? 'Ativo' : 'Inativo'}}" disabled>
                    </mat-form-field>
                </div>
            

            
                <div class="input-box">
                    <mat-form-field>
                    <mat-label>Data de Criação:</mat-label>
                    <input matInput type="text" value="{{funcionario.dataDeCriacao | date:'dd/MM/yyyy'}}" disabled>
                    </mat-form-field>
                </div>
            

            
                <div class="input-box">
                    <mat-form-field>
                    <mat-label>Data de Alteração:</mat-label>
                    <input matInput type="text" value="{{funcionario.dataDeAlteracao | date:'dd/MM/yyyy'}}" disabled>
                    </mat-form-field>
                </div>
            

            
                <div class="btn-box">

                    <button (click)="InativaFuncionario()" mat-raised-button color="warn">Inativar Usuário</button>
                    <button routerLink="" mat-raised-button>Voltar</button>
                </div>
            
        </form>
    </div>
</mat-card>